<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materias</title>
    <link rel="stylesheet" th:href="@{/css/general.css}" />
</head>
<body>
    <div th:replace="~{fragments/headerPersona :: fragment}"></div>

    <div th:replace="~{fragments/mensajes :: fragment}"></div>

    <div>
        <h1>Materias</h1>
        
        <div>
            <a th:href="@{/nivel/registrar}">Crear nueva nivel</a>
        </div>
        
        <!-- Formulario de búsqueda -->
        <div>
            <form th:action="@{/nivel/lista}" method="GET">
                
            </form>
        </div>
        
        <table th:if="${niveles != null and not #lists.isEmpty(niveles)}">
            <thead>
                <tr>
                    <th>nro</th>
                    <th>descripcion</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="nivel : ${niveles}">
                <td th:text="${nivel.nro}"></td>
                <td th:text="${nivel.descripcion}"></td>
                <td>
                    <form th:action="@{'/nivel/eliminar/' + ${nivel.nro}}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
                </tr>
            </tbody>
        </table>
        
        <div>
            <a th:href="@{/inicio}">Volver al Inicio</a>
        </div>
    </div>
</body>
</html>