<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nuevo Dictado</title>
</head>
<body>
  <h1>Registrar nuevo dictado</h1>

  <!-- Mostrar mensajes -->
  <div th:if="${exito}" >
    <p th:text="${exito}"></p>
  </div>

  <div th:if="${error}" >
    <p th:text="${error}"></p>
  </div>

  <form action="/dictadoClase/crear" method="post">

    <label for="materias">Materia:</label>
    <select name="idMateria" id="materia" required>
      <option value="" disabled selected>Seleccionar materia</option>
      <option th:each="materia : ${materias}" th:value="${materia.id}" th:text="${materia.nombre}"></option>
    </select>

    <br><br>

    <label for="niveles">Niveles:</label>
    <div th:each="nivel : ${niveles}">
      <input type="checkbox" name="nrosNiveles" th:value="${nivel.nro}">
      <span th:text="${nivel.descripcion}"></span>
    </div>

    <br>
    <button type="submit">Registrar</button>
  </form>

  <br>
  <a href="/dictadoClase/lista">Volver al listado</a>
</body>
</html>
