<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Nuevo Dictado</title>
  <link rel="stylesheet" th:href="@{/css/general.css}" />
  <link rel="stylesheet" th:href="@{/css/dictados.css}"/>
  <link rel="stylesheet" th:href="@{/css/persona.css}" />
</head>

<body>
  <div th:replace="~{fragments/headerPersona :: fragment}"></div>

  <main class="form-container">

    <div th:replace="~{fragments/mensajes :: fragment}"></div>

    <form action="/dictadoClase/crear" method="post">
      <h2 class="form-title">Registrar nuevo dictado</h2>

      <label for="materia">Materia:</label>
      <div class="materia-row">
        <select name="idMateria" id="materia" required>
          <option value="" disabled selected>Seleccionar materia</option>
          <option th:each="materia : ${materias}" th:value="${materia.id}" th:text="${materia.nombre}"></option>
        </select>

        <div class="materia-extra">
          <p>¿No aparece tu materia?</p>
          <a th:href="@{/materia/registrar}" class="btn">Registrar nueva materia</a>
        </div>
      </div>

      <label for="niveles">Niveles:</label>
      <div th:each="nivel : ${niveles}">
        <input type="checkbox" name="nrosNiveles" th:value="${nivel.nro}">
        <span th:text="${nivel.descripcion}"></span>
      </div>
        <div class="materia-extra">
          <p>¿No ecuentras el nivel?</p>
          <a th:href="@{/nivel/registrar}" class="btn">Registrar nuevo nivel</a>
        </div>

      <button type="submit">Registrar</button>

      <a th:href="@{/dictadoClase/lista}">Volver al listado</a>
    </form>
  </main>

  <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>

<!-- <body>
  <header th:replace="fragments/header :: fragment"></header>

  <h1>Registrar nuevo dictado</h1>


  <div th:if="${exito}" >
    <p th:text="${exito}"></p>
  </div>

  <div th:if="${error}" >
    <p th:text="${error}"></p>
  </div>

  <form action="/dictadoClase/crear" method="post">

    <label for="materias">Materia:</label>
    <select name="idMateria" id="materia" required>
      <option value="" disabled selected>Seleccionar materia</option>
      <option th:each="materia : ${materias}" th:value="${materia.id}" th:text="${materia.nombre}"></option>
    </select>

    <br><br>

    <label for="niveles">Niveles:</label>
    <div th:each="nivel : ${niveles}">
      <input type="checkbox" name="nrosNiveles" th:value="${nivel.nro}">
      <span th:text="${nivel.descripcion}"></span>
    </div>

    <br>
    <button type="submit">Registrar</button>
  </form>

  <br>
  <a href="/dictadoClase/lista">Volver al listado</a>
</body>
</html> -->
