<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel del Profesor</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="/perfil">Mi Perfil</a></li>
            <li><a th:href="@{/material/registrar}">Materiales</a></li>
            <li><a href="#">Reseñas</a></li>
            <li><a href="/dictadoClase/lista">Dictados de clases</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
        </ul>
    </nav>

    <main>
        <h1>Bienvenido al panel, Profesor</h1>
        <p>Desde aquí podrás gestionar tu perfil, subir materiales, ver reseñas y configurar las materias que dictás.</p>

        <section>
            <h2>¿Qué querés hacer hoy?</h2>
            <ul>
                <li>📁 <strong>Subir materiales</strong>: compartí contenido útil para tus alumnos.</li>
                <li>⭐ <strong>Ver reseñas</strong>: conocé la opinión de quienes ya tomaron clases con vos.</li>
                <li>📚 <strong>administrar dictados de clases</strong>: crea o elimina dictados de materias en diferentes niveles</li>
                <li>👤 <strong>Editar tu perfil</strong>: actualizá tu información de contacto y académica.</li>
            </ul>
        </section>
    </main>

</body>
</html>