<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio del Profesor</title>
    <link rel="stylesheet" th:href="@{/css/general.css}" />
    <link rel="stylesheet" th:href="@{/css/profesor.css}"/>
    <link rel="stylesheet" th:href="@{/css/persona.css}" />
</head>
<body>

    <div th:replace="~{fragments/headerPersona :: fragment}"></div>

    <main class="welcome">

        <h2>Bienvenido <span th:text="${profesor.nombre}">Profesor</span> a Geteacher</h2>
        <p>Un lugar que permite dar a conocer tu potencial para enseñar</p>

        <a th:href="@{/persona/perfil}">
            <img th:src="@{'/profesor/imagen/' + ${profesor.id}}" class="fondo-img-profesor" alt="Foto del profesor" 
                                onerror="this.onerror=null;this.src='/img/default-prof.jpg';">
        </a>

        <div class="reseñas-link">
            <a th:href="@{/resenia/listar}">Ver mis reseñas</a>
        </div>


        <div class="buttons">
            <a th:href="@{/dictadoClase/lista}" class="btn">Dictados de clase</a>
            <a th:href="@{/material/registrar}" class="btn">Material</a>
        </div>
    </main>

    <div th:replace="~{fragments/footer :: fragment}"></div>

</body>
</html>

