<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
   <header th:fragment="fragment">
        <nav class="nav-persona">
            <a th:href="@{/inicio}" class="brand-link">
                <img src="/img/favicon.png" alt="Logo Geteacher" class="logo">
                <h1>GETEACHER</h1>
            </a>

            <div class="nav-buttons">
                <a th:href="@{/alumno/perfil}" class="btn-nav">Perfil</a>
                <a href="/logout" class="btn-nav">Cerrar sesión</a>
            </div>
        </nav>
    </header>
</body>
</html>