/* header alumno */
.nav-alumno {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    max-width: 1400px;
    margin: 0 auto;
}

.nav-alumno .logo {
    height: 45px;
}

.nav-alumno h1 {
    font-size: 2rem;
    margin: 0 10px;
    flex-grow: 1;
    text-align: left;
    color: white;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.nav-buttons a {
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 16px;
    /* border: 2px solid white;*/
    border-radius: 6px; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-buttons a:hover {
    background-color: white;
    color: #004080;
}

/* Título principal */
h2 {
    text-align: center;
    font-size: 2rem;
    color: #004080;
    margin: 40px 0 20px;
}

h5 {
    text-align: left;
    font-size: 1.4rem;
    color: #004080;
    /* margin: px 0 20px; */
}

form {
    text-align: right;
}

.ordenar-container {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.card-img-top {
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}
.card:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.container{
    max-width: 1200px;
    margin: 0 auto 15px;
}

.card {
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    font-size: 0.95rem;
}
.card-title {
    font-size: 1.1rem;
}
.card-text {
    font-size: 0.8rem;
}
.card-body {
    align-items: center;
}

.materias-dictadas ul {
    padding-left: 0;
    margin-bottom: 0;
}

.materias-dictadas li {
    font-size: 0.8rem;
    margin-bottom: 1px;
}

.card-body .btn {
    margin-top: 0px;
    padding: 8px 16px;
    font-size: 0.9rem;
    
}

.boton-ver-container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.ver-perfil-btn {
    display: inline-block;
    background-color: #815743; /* tu color personalizado */
    color: white ;
    text-align: center;
    padding: 8px 75px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 0;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.ver-perfil-btn:hover {
    background-color: #614132;
    text-decoration: none;
}

.perfil-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 3px solid #004080;
}

/* estrellas */
.rating-stars2 i {
  font-size: 2rem;
  margin-right: 2px;
}

.star-rating {
  display: flex;
  gap: 8px;
  font-size: 2rem;
  cursor: pointer;
}

.star-rating i {
  color: #ccc;
  transition: color 0.2s ease;
}

.star-rating i.selected {
  color: gold;
}

.datos-personales {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px 100px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-bottom: 30px;
  flex-wrap: wrap; /* para que se adapte en mobile */
  max-width: 1000px;
}

.datos-personales img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid #ccc;
}

.datos-personales .datos {
   flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.datos-personales .datos p {
  margin-bottom: 8px;
  font-size: 0.95rem;
}

.titulo-con-flecha {
  margin-bottom: 0;
}