
/* Contenedor de tabla */
.tabla-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* Tabla general */
table {
  width: 80%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: #004080;
  color: white;
}

th, td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}



/* para agregar una nueva materia */

.materia-row {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  margin-bottom: 20px;
}

.materia-row select {
  flex: 1;
}

.materia-extra {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 200px;
}

.materia-extra p {
  font-size: 0.95rem;
  color: #333;
  margin: 0;
}


.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
}

/* Contenedor general */
.form-container {
    max-width: 650px;
    margin: 40px auto;
}

/* Tarjeta del formulario */
.dictado-card {
    background: #fff;
    border-radius: 18px;
    padding: 40px;
}

/* Inputs con estética más profesional */
.custom-input {
    padding: 10px 14px;
    border-radius: 10px;
}

/* Caja donde están los niveles */
.niveles-box {
    background: #f8f9fa;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
}

/* Links para registrar nuevas entidades */
.link-accion {
    display: inline-block;
    margin-top: 8px;
    font-size: 0.95rem;
    color: #0d6efd;
    font-weight: 500;
    text-decoration: none;
}

.link-accion:hover {
    text-decoration: underline;
}

/* Botón Registrar */
.btn-submit {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 12px;
}

/* Título con flecha */
.titulo-con-flecha h2 {
    font-size: 1.8rem;
    color: #0b203d;
    font-weight: 700;
}
