/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #c0bfbf;
    color: #333;
    line-height: 1.6;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

/* Encabezado */
header {
    background-color: #122941;
    color: white;
    padding: 8px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;

}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo {
    height: 50px;
}

/* Sección de bienvenida */
.welcome {
    text-align: center;
    padding: 60px 20px;
    background-color: #c0bfbf;
}

.welcome h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #122941;
}

.text-welcome {
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 400px;
    margin: 0 auto;
}

.welcome p{
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.fondo-img {
    max-width: 300px;
    margin-bottom: 20px;
}

/* Botones */
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    background-color: #8b6f62; 
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}



.btn:hover {
    background-color: #614132;
    color: white;
}


/* Estilo para el botón de Submit */
button[type="submit"] {
    background-color: #8b6f62;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #614132;
}

/* Botón eliminar */
button.btn-eliminar {
  background-color: #922e2e;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.btn-eliminar:hover {
  background-color: #621212;
}


/* Footer */
footer {
    background-color: #122941;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}

/* Mensajes */
.alert-exito {
    color: #114f20; 
    font-weight: 500;
    margin: 20px 0;
}

.alert-error {
    color: #710d17; 
    font-weight: 500;
    margin: 20px 0;
}

/* FORMULARIOS COMUNES */

/* Estilo para Títulos en Formularios */
.form-title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 2.2rem;
    color: #122941;
}


label {
    text-align: left;
    display: block;
    font-weight: 600;
}

/* Estilo para Inputs, Selects y Textareas */
input,
select,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    width: 100%; 
    box-sizing: border-box; 
}

/* Formulario */
.form-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c0bfbf;
}

.form-container form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilo para enlaces dentro de la caja del formulario */
.form-container a {
    text-align: center;
    color: #122941;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

.btn-ordenar {
    text-align: right;
    color: #122941;
    text-decoration: none;
    padding: 10px;
}

.btn-ordenar:hover {
    text-decoration: underline;
}

/* estilos para que con el boton se pueda volver a la pagina ppal*/

.navbar a {
  text-decoration: none;  
  color: inherit;        
  display: flex;
  align-items: center;
}

.navbar a:visited {
  color: inherit;           
}

.navbar a:hover {
  opacity: 0.8;           
}

/* para el boton de volver atras  */
.titulo-con-flecha {
  color: #122941;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 20px ;  
  margin-bottom: 30px;
}

.btn-volver {
  font-size: 1.5rem;
  color: #000000;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-volver:hover {
  background-color: #e0e0e0;
}

.tabla-container {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.tabla-container table {
  width: 100%;
  border-collapse: collapse;
}

.tabla-container th,
.tabla-container td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.tabla-container th {
  background-color: #122941;
  color: white;
  font-weight: 500;
}

.tabla-container td {
  background-color: white;
}

button.btn-buscar {
  background: none;
  border: none;
  padding: 4px;
  font-size: 1.4rem;
  color: #000000;
  cursor: pointer;
  transition: color 0.3s ease;
}

button.btn-buscar:hover {
  color: #122941;
  background: none;
}

.lista-materiales {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.lista-materiales li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px 14px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: #122941;
}