/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #c0bfbf;
    color: #333;
    line-height: 1.6;
    min-height: 100vh; /* Para que el footer se quede abajo si el contenido es corto */
    display: flex;
    flex-direction: column;
}

/* Encabezado */
header {
    background-color: #004080;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;

}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo {
    height: 50px;
}

/* Sección de bienvenida */
.welcome {
    text-align: center;
    padding: 60px 20px;
    background-color: #c0bfbf;
    /* background: linear-gradient(to right, #bdbdbd, #dddcdc); */
}

.welcome h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #004080;
}

.welcome p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.fondo-img {
    max-width: 300px;
    margin-bottom: 20px;
}

/* Botones */
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    /* background-color: #7f718a; */
    background-color: #815743; 
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #614132;
}


/* Estilo para el botón de Submit */
button[type="submit"] {
    background-color: #815743;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #614132;
}


/* Footer */
footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}

/* Mensajes */
.alert-exito {
    color: #28a745; /* verde éxito */
    font-weight: 500;
    margin: 20px 0;
}

.alert-error {
    color: #dc3545; /* rojo error */
    font-weight: 500;
    margin: 20px 0;
}

/* FORMULARIOS COMUNES */

/* Estilo para Títulos en Formularios */
.form-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.2rem;
    color: #004080;
}


/* Estilo para Inputs, Selects y Textareas */
input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    width: 100%; 
    box-sizing: border-box; /* Crucial para manejar padding correctamente */
}
