/* Wrapper dividido */
.login-wrapper {
    display: flex;
    height: 100vh;
}

/* Imagen a la derecha */
.login-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c0bfbf;
}

.login-image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}


