.nav-persona {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.brand-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    gap: 10px;
}

.brand-link:hover {
    opacity: 0.85;
}

.logo {
    width: 40px;
    height: 40px;
}

.brand-link h1 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.btn-nav {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
    padding: 8px 14px;
    border-radius: 6px;
}

.btn-nav:hover {
    background-color: rgba(255,255,255,0.1);
}

/* foto de perfil */
.rounded-circle {
    width: 150px; 
    height: 150px; 
    object-fit: cover;
}

.admin-card {
    background: white;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 12px;
}

.admin-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.icon-admin {
    font-size: 2.5rem;
    color: #122941; 
}

.tabla-card {
  max-width: 700px;      
  margin: 0 auto;        
  border-radius: 12px;   
  overflow: hidden;      
}

/* Encabezado azul */
.titulo-azul {
  background-color: #1b4e8a; /* El azul que estabas usando */
}

/* Icono de basurero sin fondo */
.btn-trash {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin: 0;
  cursor: pointer;
  box-shadow: none !important;
}

.btn-trash i {
  color: #7a0b0b !important; 
  font-size: 1.2rem;
  transition: color .3s ease;
}

.btn-trash:hover i {
  color: #fa1616 !important; 
}

.table thead {
  background-color: #f2f2f2;
}

.filtro-nivel {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.filtro-label {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 6px;
}


.filtro-select {
    width: 250px; 
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ced4da;
}

.filtro-label i {
    font-size: 1rem;
    color: #555;
}

a.btn-eliminar {
    background-color: #720b15 !important;
    color: white !important;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
}

a.btn-eliminar:hover {
    background-color: #9f1e2b !important;
}












