/*para ver las rese単as del profesor*/

.rese単as-link {
    margin: 20px 0;
    text-align: center;
}

.rese単as-link a {
    color: #004080;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
}

.rese単as-link a:hover {
    text-decoration: underline;
}

.fondo-img-profesor {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}