/*para ver las rese単as del profesor*/

.rese単as-link {
    margin: 20px 0;
    text-align: center;
}

.rese単as-link a {
    color: #004080;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
}

.rese単as-link a:hover {
    text-decoration: underline;
}

.fondo-img-profesor {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.fondo-img-profesor:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.perfil-card {
  background-color: #fff;
  max-width: 550px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.perfil-card p {
  margin: 8px 0;
}

.perfil-card strong {
  color: #004080;
}

.perfil-card .buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
