<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GETEACHER</title>
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}" />
    <link rel="stylesheet" th:href="@{/css/general.css}" />
</head>
<body>
    
    <div th:replace="fragments/headerGral :: fragment"></div>

    <main>
        <div th:replace="fragments/mensajes :: fragment"></div>
        <section class="welcome">
            <img src="/img/fondo.jpg" alt="Ilustración de bienvenida" class="fondo-img">
            <h2>Bienvenido a Geteacher</h2>
            <p>Un sitio donde podras encontrar a tu profesor ideal.</p>
            <div class="buttons">
                <a th:if="${session.usuariosession == null}" href="/registrar" class="btn">Registrarse</a>
                <a th:if="${session.usuariosession == null}" href="/login" class="btn">Iniciar sesión</a>
            </div>
           
        </section>
    </main>

    <div th:replace="fragments/footer :: fragment"></div>
</body>
</html>