<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Alumno</title>
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
</head>
<body>
   

    <header>
        <nav>
            <h1>GETEACHER</h1>
            <div class="nav-buttons">
                <a href="/logout" class="btn logout">Cerrar sesión</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="welcome">
            <h2>Bienvenido a tu panel</h2>
            <p>Busca a tu profe ideal.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Geteacher. Todos los derechos reservados.</p>
    </footer>
</body>
</html>