<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro de usuario</title>
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/general.css}" />
    <link rel="stylesheet" th:href="@{/css/registro.css}" />
    <script>
        function mostrarCamposProfesor(valor) {
            const seccion = document.getElementById("campos-profesor");
            seccion.style.display = valor === "PROFESOR" ? "block" : "none";
        }
        
        function cargarLocalidades(idProvincia) {
            fetch('/localidad/listaProv?idProvincia=' + idProvincia)
                .then(response => response.json())
                .then(data => {
                    const localidadSelect = document.getElementById('localidad');
                    localidadSelect.innerHTML = '';

                    if (data.length === 0) {
                        const option = document.createElement('option');
                        option.text = 'No hay localidades disponibles';
                        option.disabled = true;
                        localidadSelect.appendChild(option);
                        return;
                    }

                    data.forEach(loc => {
                        const option = document.createElement('option');
                        option.value = loc.id;
                        option.text = loc.nombre;
                        localidadSelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error al cargar localidades:', error);
                });
            }     
    </script>
</head>
<body>
    <div th:replace="~{fragments/headerGral :: fragment}"></div>

    <div class="registro-wrapper">

        <div class="form-container ">
            <form th:action="@{/registro}" method="post" enctype="multipart/form-data">

                <div class="titulo-con-flecha mb-4">
                        <a th:href="@{/}" class="btn-volver" title="Volver">
                        <i class="bi bi-arrow-left"></i>
                        </a>
                        <h2>Registro</h2>
                </div>

                <div th:replace="~{fragments/mensajes :: fragment}"></div>

                <label>Nombre:</label>
                <input type="text" name="nombre" th:value="${nombre}" required />

                <label>Apellido:</label>
                <input type="text" name="apellido" th:value="${apellido}" required />

                <label>Email:</label>
                <input type="email" name="email" th:value="${email}" required />

                <label>Clave:</label>
                <input type="password" name="clave" required />

                <label>Repetir clave:</label>
                <input type="password" name="clave2" required />

                <label>Rol:</label>
                <select name="rol" onchange="mostrarCamposProfesor(this.value)" required>
                    <option value="">Seleccionar</option>
                    <option value="ALUMNO" th:selected="${rol == 'ALUMNO'}">Alumno</option>
                    <option value="PROFESOR" th:selected="${rol == 'PROFESOR'}">Profesor</option>
                </select>

                <label>Provincia:</label>
                <select id="provincia" name="idProvincia" onchange="cargarLocalidades(this.value)">
                    <option value="">Seleccionar Provincia</option>
                    <option th:each="prov : ${provincias}" th:value="${prov.id}" th:text="${prov.nombre}"></option>
                </select>

                <label>Localidad:</label>
                <select id="localidad" name="idLocalidad" required>
                    <option value="">Seleccionar provincia primero</option>
                </select>


                <div id="campos-profesor" style="display:none;">
                    <h3>Datos del profesor</h3>

                    <label>Teléfono:</label>
                    <input type="text" name="telefono" th:value="${telefono}" />

                    <label>Forma de trabajo:</label>
                    <select id="formaTrabajo" name="formaTrabajo">
                        <option value="">Seleccionar</option>
                        <option th:each="formaTrabajo : ${T(com.particulares.tp.java.enums.FormaTrabajo).values()}" 
                                th:value="${formaTrabajo}" 
                                th:text="${formaTrabajo}"> 
                            VALOR_ENUM 
                        </option>
                    </select>

                    <label>Información académica:</label>
                    <textarea name="infoAcademica" th:text="${infoAcademica}"></textarea>

                    <label>Precio Por Hs:</label>
                    <input name="precioXHs" th:value="${precioXHs}"></input>

                    <label>Foto de Perfil (opcional):</label>
                    <input type="file" name="imagen" id="archivo" accept=".jpg,.jpeg,.png"/>
                </div>


                <button type="submit">Registrarse</button>
                <a href="/login">¿Ya tienes cuenta? Inicia sesión aquí</a>
            </form>
        </div>
    </div>

    <script>

        const rolActual =  '';
        if (rolActual === 'PROFESOR') {
            mostrarCamposProfesor('PROFESOR');
        }
    </script>

    <div th:replace="~{fragments/footer :: fragment}"></div>
</body>
</html>