<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Alumno</title>
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}" />
    <link rel="stylesheet" th:href="@{/css/general.css}" />
    <link rel="stylesheet" th:href="@{/css/alumno.css}" />
</head>
<body>
    <div th:replace="fragments/headerAlumno :: fragment"></div>
    <main>
        <div th:replace="fragments/mensajes :: fragment"></div>
        <!-- <section class="welcome">
            <h2>Bienvenido a tu panel</h2>
            <p>Busca a tu profe ideal.</p>
        </section> -->

        <h2>Busca a tu profe ideal</h2>

         <!-- Botón para ordenar -->
        <div class="ordenar-container">
            <form method="get" action="/inicio">
                <button type="submit" name="orden" value="puntaje">Ordenar por puntaje</button>
            </form>
        </div>

        <!-- Lista de profesores -->
        <table class="tabla-profesores">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio por hora</th>
                    <th>Modalidad</th>
                    <th>Valoración</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="prof : ${profesores}">
                    <td th:text="${prof.nombre} + ' ' + ${prof.apellido}"></td>
                    <td th:text="${prof.precioXHs}"></td>
                    <td th:text="${prof.formaTrabajo}"></td>
                    <td th:text="${prof.promedio > 0 ? #numbers.formatDecimal(prof.promedio, 1, 1) : 'Sin reseñas aún'}"></td>
                    <td>
                        <a th:href="@{'/profesor/ver/' + ${prof.id}}" class="btn-ver">Ver</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </main>

    <div th:replace="fragments/footer :: fragment"></div>
</body>
</html>