<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Alumno</title>
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/general.css}" />
    <link rel="stylesheet" th:href="@{/css/alumno.css}" />
    <link rel="stylesheet" th:href="@{/css/persona.css}" />
</head>
<body>
      <div th:replace="~{fragments/headerAlumno :: fragment}"></div>
     <!-- Formulario de modificación -->
        <form th:action="@{'/alumno/modificar/' + ${alumno.id}}" method="post" class="bg-white p-4 rounded shadow-sm mt-4">
          <h5 class="mb-3">Modificar perfil</h5>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" th:value="${alumno.nombre}" required>
          </div>
          <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" th:value="${alumno.apellido}" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" th:value="${alumno.email}" required>
          </div>
          <div class="mb-3">
            <label for="idLocalidad" class="form-label">Localidad</label>
            <select class="form-select" id="idLocalidad" name="idLocalidad" required>
              <option th:each="loc : ${localidades}" th:value="${loc.id}" th:text="${loc.nombre}" th:selected="${loc.id == alumno.miLocalidad.id}"></option>
            </select>
          </div>
          <div class="mb-3">
            <label for="clave" class="form-label">Clave</label>
            <input type="password" class="form-control" id="clave" name="clave">
          </div>
          <div class="mb-3">
            <label for="clave2" class="form-label">Confirmar clave</label>
            <input type="password" class="form-control" id="clave2" name="clave2">
          </div>
          <button type="submit" class="btn btn-primary">Modificar</button>
        </form>
        
    <div th:replace="~{fragments/footer :: fragment}"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>