<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Material</title>
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/general.css}" />
    <link rel="stylesheet" th:href="@{/css/alumno.css}" />

    <script th:inline="javascript">
        let materiales = [];

        function agregarMaterial() {
            const archivo = document.getElementById("archivo").files[0];
            const descripcion = document.getElementById("descripcion").value;

            if (!archivo || !descripcion) {
                alert("Completá todos los campos antes de agregar otro.");
                return;
            }

            const index = materiales.length;
            materiales.push({ archivo, descripcion });


            const lista = document.getElementById("listaMateriales");
            const item = document.createElement("li");
            item.textContent = `Material n° ${index + 1}: ${descripcion} `;

            const btnEliminar = document.createElement("button");
            btnEliminar.className = "btn-eliminar";
            btnEliminar.innerHTML =`<i class="bi bi-trash"></i>`;


            btnEliminar.onclick = () => {
                materiales.splice(index, 1);
                item.remove();
                actualizarLista();
            };

            item.appendChild(btnEliminar);
            lista.appendChild(item);

            document.getElementById("archivo").value = "";
            document.getElementById("descripcion").value = "";
        }

        function actualizarLista() {
            const lista = document.getElementById("listamateriales");
            lista.innerHTML = "";
            materiales.forEach((doc, i) => {
                const item = document.createElement("li");
                item.textContent = `Documento ${i + 1}: ${doc.descripcion} `;

                const btnEliminar = document.createElement("button");
                btnEliminar.className = "btn-eliminar";
                btnEliminar.innerHTML = `<i class="bi bi-trash"></i>`;
    
                btnEliminar.onclick = () => {
                    materiales.splice(i, 1);
                    actualizarLista();
                };

                item.appendChild(btnEliminar);
                lista.appendChild(item);
            });
        }

        function enviarMateriales() {
            const archivo = document.getElementById("archivo").files[0];
            const descripcion = document.getElementById("descripcion").value;
            const idDictadoClase = document.getElementById("dictado").value;

            if (archivo && descripcion) {
                materiales.push({ archivo, descripcion });
            }

            if (materiales.length === 0) {
                alert("No hay materiales para enviar.");
                return;
            }

            if (!idDictadoClase) {
                alert("Seleccioná una materia antes de enviar.");
                return;
            }

            const formData = new FormData();

            materiales.forEach((mat) => {
                formData.append("archivos", mat.archivo);
                formData.append("descripciones", mat.descripcion);
                formData.append("idDictadoClase", idDictadoClase);
            });

            fetch("/material/registro", {
                method: "POST",
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    alert("Materiales cargados correctamente.");
                    window.location.href = /*[[@{/material/listar/{id}(id=${profesor.id})}]]*/ '';
                } else {
                    alert("Error al cargar materiales.");
                } 
            })
        }
    </script>
</head>

<body>
    <div th:replace="~{fragments/headerGral :: fragment}"></div>
    <div class="form-container">
        <form id="formMateriales" enctype="multipart/form-data">
            <div class="titulo-con-flecha">
                <a th:href="@{ '/material/listar/' + ${profesor.id} }"
                class="btn-volver" title="Volver">
                    <i class="bi bi-arrow-left"></i>
                </a>
                <h2>Cargar Nuevo Material</h2>
            </div>
            <div th:replace="~{fragments/mensajes :: fragment}"></div>
            <div>
                <label for="archivo">Archivo PDF</label>
                <input type="file" id="archivo" accept=".pdf" />
            </div>

            <div>
                <label for="descripcion">Descripción</label>
                <input type="text" id="descripcion" placeholder="Descripción"/>
            </div>
            <div>
                <label for="dictado">Seleccioná la materia:</label>
                <select id="dictado" name="idDictadoClase" class="form-select" required>
                    <option value="" disabled selected>Elegí una materia</option>
                    <option th:each="d : ${dictados}" th:value="${d.id}" th:text="${d.materia.nombre + ' - ' + d.nivel.descripcion}"></option>
                </select>
            </div>
            <div class="buttons">
                <button type="button" onclick="agregarMaterial()" class="btn">Ingresar otro</button>
                <button type="button" onclick="enviarMateriales()" class="btn">Aceptar</button>
            </div>
            <div>
                <h5>Materiales agregados:</h4>
                <ul id="listaMateriales" class="lista-materiales"></ul>
            </div>
    
        </form>
    </div>
    <div th:replace="~{fragments/footer :: fragment}"></div>
   
</body>
</html>

