<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Provincia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/general.css}" />
</head>
<body>

<div th:replace="~{fragments/headerGral :: fragment}"></div>

<main class="form-container">

    <form th:action="@{/provincia/crear}" method="post">

        <!-- Título + volver -->
        <div class="titulo-con-flecha mb-4">
            <a th:href="@{/provincia/listar}" class="btn-volver" title="Volver">
                <i class="bi bi-arrow-left"></i>
            </a>

            <h2>Registrar nueva provincia</h2>
        </div>

        <!-- Campo nombre -->
        <label for="nombre">Nombre de la provincia</label>
        <input type="text" id="nombre" name="nombre" placeholder="Ej: Santa Fe" required />

        <button type="submit">Registrar</button>

        <!-- Mensajes -->
        <div th:replace="~{fragments/mensajes :: fragment}"></div>

    </form>

</main>

</body>
</html>
